/****** Dark theme Material Design ******/

$dark-status-bar: #000000;
$dark-app-bar: #212121;
$dark-background: #303030;
$dark-cards-dialogs: #424242;
$dark-primary-text: rgba(255, 255, 255, 1.00);
$dark-secundary-text: rgba(255, 255, 255, 0.70);
$dark-disabled-text: rgba(255, 255, 255, 0.50);
$dark-divider-text: rgba(255, 255, 255, 0.12);
$dark-divider: rgba(255, 255, 255, 0.38);
$dark-icon-active: rgba(0, 0, 0, 0.54);
$dark-icon-inactive: rgba(0, 0, 0, 0.38);

/****** /Dark theme Material Design ******/


/****** Light theme Material Design ******/

$light-status-bar: #e0e0e0;
$light-app-bar: #f5f5f5;
$light-background: #fafafa;
$light-cards-dialogs: #ffffff;
$light-primary-text: rgba(0, 0, 0, 0.87);
$light-secundary-text: rgba(0, 0, 0, 0.54);
$light-disabled-text: rgba(0, 0, 0, 0.38);
$light-divider-text: rgba(0, 0, 0, 0.12);
$light-divider: rgba(0, 0, 0, 0.38);
$light-icon-active: rgba(255, 255, 255, 1.00);
$light-icon-inactive: rgba(255, 255, 255, 0.50);

/****** /Light theme Material Design ******/


/****** Theme canada  ******/
$primary-red: #E21F26;// #077915;
$primary-grey:  #9B9B9B;

$secondary-grey: #717171;
$primary-black: #262626;

$social-facebook:   #0062b3;
$social-facebook-hover:   #004680;
$social-google:   #cd3919;
$social-google-hover:   #a02c13;
$social-twitter:   #55acee;
$social-twitter-hover:   #55acee;
$social-youtube:   #b31217;
$social-youtube-hover:   #b31217;
$social-linkedin:   #0976b4;
$social-linkedin-hover:   #0976b4;

$background-general: #E5E5E5;
$white : #ffffff;
/****** /Theme canada  ******/
