
/********* FONTS ***********/
$font-Roboto: 'Roboto', serif, sans-serif;
$font-Nunito-Bold: 'NunitoSans-Bold';
$font-Nunito-ExtraBold: 'NunitoSans-ExtraBold';
$font-Nunito-Regular: 'NunitoSans-Regular';
$font-nunito: 'Nunito Sans', $font-Roboto;
/********* /FONTS ***********/

