

.eventos-camara{
    background: #f7f7f7;
    width: 100%;
    .container-camara{
        padding: 33px 0 37px 0;
        .title-camara{
            padding: 10px 0 17px 0;
            h3{
                font-family: $font-nunito;
                font-weight: 800;
                font-size: 23px;
                padding-bottom: 3px;
            }
            span{
                font-family: $font-nunito;
                font-weight: 400;
                color: #717171;
                font-size: 16px;
            }
        }

        .content-cards{                       
            padding-bottom: 15px;
            .slick-list{
                
                .slick-track{
                    .card-camara{
                        padding: 0 10px 0 10px;
                        .content-camara{
                            background: #ffffff;
                            border: 2px solid rgba(#e6e6e6,0.6 );
                            padding: 17px 10px;
                            .logo-card{
                                width: 100%;
                                height: 138px;
                                min-height: 138px;
                                overflow: hidden;

                                a{
                                    width: 100%;
                                    img{
                                        width: 100%;
                                        min-width: 100%;
                                        transition: all 0.15s linear 0s;
                                        &:hover{
                                            transform: scale(1.1);
                                        }
                                    }
                                }
                            }
                            
                            .info-card{
                                h4{
                                    font-family: $font-nunito;
                                    font-weight: 800;
                                    padding: 17px 0 20px 0;
                                    @include ajustacontrespuntos;
                                    a{
                                        font-size: 18px;
                                        color:#262626;
                                    }
                                }
                                .fecha-card{
                                    border-top:1px solid #717171;
                                    border-bottom: 1px solid #717171;
                                    display: flex;
                                    align-items: center;
                                    height: 35px;
                                    i{
                                        padding-right: 7px;
                                        color: $primary-red;
                                        font-size: 15px;
                                    }
                                    span{
                                        font-family: $font-nunito;
                                        font-weight: 400;
                                        font-size: 14px;
                                        color: #717171;
                                    }
                                }
                                
                                p{
                                    font-family: $font-nunito;
                                    font-weight: 400;
                                    margin: 12px 3px 0 0;
                                    color: #262626;
                                    @include ajustatrespuntosmultiline(14.5px, 1.3, 3);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}